:host {
  display: flex;
  align-items: center;
}

.breadcrumb {
  font-size: 0.8em;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.breadcrumb:focus {
  outline: none;
}

.icon {
  position: relative;
  font-size: 0.85em;
  margin-left: 8px;
  margin-right: 8px;
  width: auto;
  height: auto;
}
