<tanam-page-title pageTitle="Themes"></tanam-page-title>

<tanam-context-actions>
  <tanam-action-button buttonType='create'
                       (click)="createTheme()"></tanam-action-button>
</tanam-context-actions>

<mat-card class="create-theme-card">
  <mat-card-header>
    <mat-card-title>
      About
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Information about themes ...
    </p>
  </mat-card-content>
</mat-card>

<tanam-theme-list></tanam-theme-list>
