<tanam-context-actions>
  <tanam-action-button buttonType='create'
                       title="Add User"
                       (click)='openDialogAddUser()'></tanam-action-button>
</tanam-context-actions>
<mat-card>
  <mat-tab-group>
    <mat-tab label="Users">
      <tanam-user-list [roles]="roles"
                       defaultRole="{{defaultRole}}"></tanam-user-list>
    </mat-tab>
    <mat-tab label="Invited">
      <tanam-user-invited [roles]="roles"
                          defaultRole="{{defaultRole}}"></tanam-user-invited>
    </mat-tab>
  </mat-tab-group>
</mat-card>
