<div *ngIf="(theme$ |async) as theme">
  <app-sub-toolbar>
    Themes<mat-icon class="icon-sub-toolbar">keyboard_arrow_right</mat-icon> {{ theme.title }}
    <span class="sub-toolbar-spacer"></span>
    <button mat-button
            class="sub-toolbar-icon"
            (click)="editTheme()">
      <mat-icon>mode_edit</mat-icon> Edit Theme
    </button>
    <button mat-button
            color="primary"
            class="sub-toolbar-icon"
            (click)="createNewTemplate()">
      <mat-icon>add</mat-icon> Create Template
    </button>
  </app-sub-toolbar>
  <mat-card>
    <mat-card-title-group>
      <mat-card-title>
        {{ theme.title }}
      </mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
      <p *ngIf="theme.description">{{ theme.description }}</p>
    </mat-card-content>
  </mat-card>
</div>
<app-content-template-list [theme$]="theme$"></app-content-template-list>
