<div *ngIf="(template$ | async) as template">
  <tanam-page-title pageTitle="{{ template.title }} | Edit Template"></tanam-page-title>
  <tanam-breadcrumbs *ngIf="(theme$ | async) as theme"
                     [title]="template.title">
    <tanam-breadcrumb routerLink="/_/admin/themes">Themes</tanam-breadcrumb>
    <tanam-breadcrumb routerLink="/_/admin/theme/{{ theme.id }}">{{ theme.title }}</tanam-breadcrumb>
  </tanam-breadcrumbs>
</div>
<tanam-theme-template-form [themeId]="themeId"
                           [templateId]="templateId"></tanam-theme-template-form>
