.full-width {
  width: 100%;
}

.wrap {
  display: flex;
}

.slider-toogle {
  margin-bottom: 15px;
}

.edit-content {
  width: calc(100% - 300px);
  margin-right: 10px;
}

.edit-metadata {
  width: 300px;
  right: 4%;
}

.edit-metadata .mat-card {
  position: sticky;
  top: 128px;
}

.btn-close-dialog, .btn-open-dialog {
  display: none
}

.wrap-actions {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .btn-close-dialog, .btn-open-dialog {
    display: block;
  }

  .btn-close-dialog {
    position: absolute;
    top: 0;
    right: 0;
  }

  .btn-open-dialog {
    position: fixed;
    border-radius: 20px 0 0 20px;
    top: 100px;
    right: 0px;
    padding: 10px;
    color: white;
    background-color: #30664c;
  }

  .open-dialog {
    z-index: 3;
    display: block !important;
    padding: 100%;
    background: rgba(0,0,0,0.6);
    right: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .edit-metadata {
    display: none;
    position: fixed;
  }

  .edit-content {
    width: 100%;
    margin-right: 0;
  }
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}
