<h1 class="mat-h1">Media files</h1>

<!--
  Angular Material doesn't support file input.
  https://material.angular.io/components/input/overview#supported-code-lt-input-gt-code-types

  So this is a wrapper to make it look better. The button simply triggers the file upload input
-->
<button mat-raised-button
        (click)="fileInput.click()"
        color="primary">
  <span>Upload</span>
  <input #fileInput
         type="file"
         (change)="uploadSingleFile($event)"
         style="display:none;" />
</button>


<!-- Show the progress of file uploads if there are any. Then hide itself when all are finished -->
<mat-card class="upload-card" *ngIf="(uploadTasks | json) != '{}'">
  <mat-card-header>
    <mat-card-title>
      Uploads
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <section *ngFor="let uploadTasks of uploadTasks | keyvalue">
      <strong>{{uploadTasks.key}}</strong>
      <mat-progress-bar [color]="accent"
                        [mode]="determinate"
                        [value]="uploadTasks.value | async">
      </mat-progress-bar>
    </section>
  </mat-card-content>
</mat-card>

<app-media-grid></app-media-grid>
