/* Bubble menu */
.bubble-menu {
  background-color: var(--white);
  border: 1px solid var(--gray-1);
  border-radius: 0.7rem;
  box-shadow: var(--shadow);
  display: flex;
  padding: 8px;

  & button {
    background-color: unset;

    &:hover {
      background-color: rgba(0,0,0,0.3);
      color: var(--white);
    }

    &.is-active {
      background-color: rgba(0,0,0,0.3);
      color: var(--white);

      &:hover {
        background-color: rgba(0,0,0,0.3);
        color: var(--white);
      }
    }
  }

  & .separator {
    width: 1px;
    height: 28px;
    background: #dcdbdd;
    margin-right: 8px;
    margin-left: 8px;
  }
}