<h1>{{(contentType$ | async)?.title}}</h1>
<h2>Here is the full information on type</h2>

<button mat-raised-button color="primary" (click)="navigateToContentTypeOverview()">Close details</button>

<hr />
<h1>Data field types in this content type</h1>
<div *ngFor="let contentField of contentTypeFields$ | async">
  <ul>
    <li>Key: {{ contentField.key }}</li>
    <li>Title: {{ contentField.title }}</li>
    <li>Order: {{ contentField.order }}</li>
    <li>Type: {{ contentField.type }}</li>
  </ul>
</div>
