service cloud.firestore {
  match /databases/{database}/documents {

    match /tanam-types/{typeId} {
      allow read: if hasAnyRole();
      allow write: if isAtLeastAdmin();
    }

    match /tanam-documents/{documentId} {
      allow read: if hasAnyRole();
      allow write: if isPublisher();

      match /revisions/{revisionId} {
        allow read: if hasAnyRole();
        allow write: if false;
      }
    }

    function hasUserRole(role) {
      return isSignedIn() && role == request.auth.token.tanamRole;
    }

    function hasAnyRole() {
      return isSignedIn() && request.auth.token.tanamRole != null;
    }

    function isSuperAdmin() {
      return hasUserRole("superAdmin");
    }

    function isAtLeastAdmin() {
      return isSuperAdmin() || hasUserRole("admin");
    }

    function isPublisher() {
      return isAtLeastAdmin() || hasUserRole("publisher");
    }

    function isSignedIn() {
      return request.auth != null;
    }

    function isSignedInAs(uid) {
      return isSignedIn() && request.auth.uid == uid;
    }
  }
}
