rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /tanam-users/{uid} {
      allow read: if request.auth != null && request.auth.uid == uid;

      match /profile-picture-new {
        allow create: if request.auth != null && request.auth.uid == uid;
      }

    }
  }
}
