rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /tanam-users/{uid} {
      match /{allPaths=**} {
        allow read: if request.auth != null && request.auth.uid == uid;
      }

      match /profile.png {
        allow read: if request.auth != null;
      }

      match /profile-picture-new {
        allow create: if request.auth != null && request.auth.uid == uid;
      }

      match /new-profile-image {
        allow create: if request.auth != null && request.auth.uid == uid;
        allow read: if request.auth != null;
      }
    }
  }
}
