<h1 mat-dialog-title>Create New Template</h1>
<div mat-dialog-content>
  <form [formGroup]="createTemplateForm"
        novalidate>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput
                 placeholder="Title"
                 formControlName="title">
          <mat-hint align="end">Example: Blog</mat-hint>
          <mat-error *ngIf="createTemplateForm.controls['title'].hasError('required')">
            Title is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput
                 placeholder="Selector Name"
                 formControlName="selector">
          <mat-hint align="end">Example: blog</mat-hint>
          <mat-error *ngIf="createTemplateForm.controls['selector'].hasError('required')">
            Selector name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button
          color="primary"
          disabled={{!createTemplateForm.valid}}
          (click)="createNewTemplate()">Create</button>
</div>
