.full-width {
  width: 100%;
}

.document-type-static-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.slider-toogle {
  margin-bottom: 15px;
}

.col:last-child {
  margin-right: 0;
}

.mat-select-trigger-icon {
  .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  span {
    margin-left: 32px;
  }
}
