<form [formGroup]="documentTypeForm"
      novalidate>
  <tanam-context-actions>
    <tanam-action-button buttonType='cancel'
                         (click)='cancelEditing()'></tanam-action-button>
    <tanam-action-button buttonType='save'
                         (click)='save()'></tanam-action-button>
    <tanam-action-button buttonType='edit'
                         title="Edit template"
                         (click)='editTemplate()'></tanam-action-button>
  </tanam-context-actions>
  <mat-card class="document-type-static-card">
    <mat-card-header>
      <mat-card-title>Content type information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col slider-toogle">
          <mat-slide-toggle formControlName="standalone"
                            matTooltip="Standalone means this content type will be accessed as a page">Standalone</mat-slide-toggle>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput
                   placeholder="Title"
                   formControlName="title">
            <mat-error *ngIf="documentTypeForm.controls['slug'].hasError('required')">
              Title is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput
                   placeholder="Slug"
                   formControlName="slug">
            <mat-hint>https://{{ domain$ | async }}/{{ documentTypeForm.value.slug }}</mat-hint>
            <mat-error *ngIf="documentTypeForm.controls['slug'].hasError('required')">
              Slug is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Icon"
                        formControlName="icon">
              <mat-select-trigger class="mat-select-trigger-icon">
                <mat-icon class="icon">{{documentTypeForm.value.icon}}</mat-icon>
                <span>{{documentTypeForm.value.icon}}</span>
              </mat-select-trigger>
              <mat-option *ngFor="let iconOption of icons"
                          [value]="iconOption">
                <mat-icon mat-list-icon>{{iconOption}}</mat-icon> {{iconOption}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="documentTypeForm.controls['icon'].hasError('required')">
              Icon is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>

    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="4"
                      cdkAutosizeMaxRows="10"
                      placeholder="Description"
                      formControlName="description"></textarea>
            <mat-error *ngIf="documentTypeForm.controls['description'].hasError('required')">
              Description is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- A dynamic list of form fields that can be added or removed -->
  <mat-card class="document-type-static-card">
    <mat-card-header>
      <mat-card-title>Conent type fields</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-radio-group formControlName="indexTitle">
        <div formArrayName="fields">
          <div class="row"
               *ngFor="let field of fieldForms.controls; let i=index"
               [formGroupName]="i">
            <div id="radio-isTitle">
              <mat-radio-button [value]="i" matTooltip="Set this field as title"></mat-radio-button>
            </div>
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput
                       placeholder="Key"
                       formControlName="key">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <input matInput
                       placeholder="Title"
                       formControlName="title">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <mat-select placeholder="Type"
                            formControlName="type">

                  <mat-option *ngFor="let fieldType of fieldTypes"
                              [value]="fieldType.type">
                    {{fieldType.title }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col">
              <button mat-icon-button
                      (click)="deleteField(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </mat-radio-group>
      <button mat-raised-button
              (click)="addField()">Add Field</button>

    </mat-card-content>
  </mat-card>
</form>
