<form [formGroup]="themeForm"
      novalidate
      (ngSubmit)="onSave()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Edit {{ theme?.title }} theme</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="full-width">
        <input matInput
               placeholder="Title"
               formControlName="title">
        <mat-error *ngIf="themeForm.controls['title'].hasError('required')">
          Title is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput
               placeholder="Description"
               formControlName="description">
        <mat-error *ngIf="themeForm.controls['description'].hasError('required')">
          Description is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button
              type="button"
              (click)="cancelEditing()">Cancel</button>
      <button mat-raised-button
              color="primary"
              type="submit">Save</button>
    </mat-card-actions>
  </mat-card>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Styles (CSS)
        </mat-panel-title>
        <mat-panel-description>
          Type internal style sheet (without &lt;style&gt; tag) or external style sheet (without &lt;link&gt; tag).
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div formArrayName="styles">
        <div class="row"
             *ngFor="let field of stylesFieldForms.controls; let i=index">
          <mat-form-field class="full-width">
            <textarea matInput
                      placeholder="Style {{i+1}}"
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="20"
                      [formControlName]="i"></textarea>
          </mat-form-field>
          <button mat-icon-button
                  (click)="deleteField('styles', i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <button mat-raised-button
              type="button"
              (click)="addField('styles')">Add Field</button>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Scripts (JS)
        </mat-panel-title>
        <mat-panel-description>
          Type internal script or externals script. Don't need to put &lt;script&gt; tag.
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div formArrayName="scripts">
        <div class="row"
             *ngFor="let field of scriptsFieldForms.controls; let i=index">
          <mat-form-field class="full-width">
            <textarea matInput
                      placeholder="Script {{i+1}}"
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="40"
                      [formControlName]="i"></textarea>
          </mat-form-field>
          <button mat-icon-button
                  (click)="deleteField('scripts', i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <button mat-raised-button
              type="button"
              (click)="addField('scripts')">Add Field</button>
    </mat-expansion-panel>
  </mat-accordion>
</form>
