<form [formGroup]="documentTypeForm"
      novalidate>
  <app-sub-toolbar>
    Content Type <mat-icon class="icon-sub-toolbar">keyboard_arrow_right</mat-icon> {{documentTypeForm.controls['title'].value}}
    <span class="sub-toolbar-spacer"></span>
    <button mat-button
            class="sub-toolbar-icon"
            color="warn"
            (click)="cancelEditing()">
      <mat-icon>keyboard_backspace</mat-icon> Cancel
    </button>
    <button mat-button
            class="sub-toolbar-icon"
            (click)="editTemplate()">
      <mat-icon>mode_edit</mat-icon> Edit Template
    </button>
    <button mat-button
            class="sub-toolbar-icon"
            color="primary"
            (click)="save()">
      <mat-icon>save</mat-icon> Save
    </button>
    <button mat-button
            class="sub-toolbar-icon"
            color="warn">
      <mat-icon>delete</mat-icon> Delete
    </button>
  </app-sub-toolbar>
  <mat-card class="content-type-static-card">
    <mat-card-header>
      <mat-card-title>Content type information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput
                   placeholder="Title"
                   formControlName="title">
            <mat-error *ngIf="documentTypeForm.controls['slug'].hasError('required')">
              Title is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput
                   placeholder="Slug"
                   formControlName="slug">
            <mat-hint>https://{{ domain$ | async }}/{{ documentTypeForm.value.slug }}</mat-hint>
            <mat-error *ngIf="documentTypeForm.controls['slug'].hasError('required')">
              Slug is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Icon"
                        formControlName="icon">
              <mat-select-trigger class="mat-select-trigger-icon">
                <mat-icon class="icon">{{documentTypeForm.value.icon}}</mat-icon>
                <span>{{documentTypeForm.value.icon}}</span>
              </mat-select-trigger>
              <mat-option *ngFor="let iconOption of icons"
                          [value]="iconOption">
                <mat-icon mat-list-icon>{{iconOption}}</mat-icon> {{iconOption}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="documentTypeForm.controls['icon'].hasError('required')">
              Icon is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>

    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="4"
                      cdkAutosizeMaxRows="10"
                      placeholder="Description"
                      formControlName="description"></textarea>
            <mat-error *ngIf="documentTypeForm.controls['description'].hasError('required')">
              Description is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- A dynamic list of form fields that can be added or removed -->
  <mat-card class="content-type-static-card">
    <mat-card-header>
      <mat-card-title>Conent type fields</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div formArrayName="fields">
        <div class="row"
             *ngFor="let field of fieldForms.controls; let i=index"
             [formGroupName]="i">

          <div class="col">
            <mat-form-field>
              <input matInput
                     placeholder="Key"
                     formControlName="key">
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field>
              <input matInput
                     placeholder="Title"
                     formControlName="title">
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field>
              <mat-select placeholder="Type"
                          formControlName="type">

                <mat-option *ngFor="let fieldType of fieldTypes"
                            [value]="fieldType.type">
                  {{fieldType.title }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col">
            <button mat-icon-button
                    (click)="deleteField(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <button mat-raised-button
              (click)="addField()">Add Field</button>

    </mat-card-content>
  </mat-card>
</form>
