<div class="wrapper">
  <mat-card class="card"
            *ngIf="(image$ | async) as image; else noImageSet">
    <mat-card-content class="mat-card-content">
      <p [matTooltip]="image.title">{{image.title}}</p>
      <mat-menu #menu="matMenu"
                xPosition="before">
        <button mat-menu-item
                (click)="openGalleyModal()">
          <mat-icon>refresh</mat-icon>
          <span>Replace</span>
        </button>
        <button mat-menu-item
                (click)="removeImage()">
          <mat-icon>delete</mat-icon>
          <span>Remove</span>
        </button>
      </mat-menu>
      <button mat-icon-button
              class="more-button"
              [matMenuTriggerFor]="menu"
              aria-label="Toggle menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-card-content>
    <div mat-card-image
         class="img-wrapper">
      <img [src]="image.url"
           [alt]="image.title">
    </div>
  </mat-card>
  <ng-template #noImageSet>
    <button mat-stroked-button
    (click)="openGalleyModal()">
          <mat-icon aria-label="Select image from gallery">collections</mat-icon>
        </button>
  </ng-template>
</div>
