<h2>Domain settings</h2>
<div *ngIf="isLoading">Loading domain settings ...</div>
<div class="settings-section setting-domain" *ngIf="!isLoading">
  <form [formGroup]="settingsForm">
    <mat-radio-group class="example-radio-group" formControlName="selectedDomain" (change)="saveChanges()">
      <div formArrayName="domains">
        <div *ngFor="let domain of domainsFormArray.controls; let i=index" [formGroupName]="i">
          <mat-radio-button [value]="i">
          </mat-radio-button>
          <mat-form-field>
            <input matInput placeholder="Domain" formControlName="name" (change)="saveChanges()">
          </mat-form-field>
          <button mat-raised-button color="warn" *ngIf="i > 0" (click)="removeDomain(i)">Remove</button>
        </div>
      </div>
    </mat-radio-group>

    <button mat-raised-button color="primary" (click)="addDomain()">Add Domain</button>
  </form>
</div>
