@import 'breakpoints';

.wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  @media only screen and (max-width: $bp-mobile) {
    max-width: 100%;
  }
}

.card {
  flex: 0 0 calc(100% - 16px);
  min-width: 23%;
  margin: 1%;
  box-sizing: border-box;
  overflow: hidden;
  @media screen and (max-width: 600px) {
    min-width: 48%;
    margin: 1%;
  }
}

.img-wrapper {
  position: relative;
  padding-top: 100%;
  margin: 16px -16px -16px -16px !important;
  img {
    position: absolute;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.mat-card-content {
  margin-bottom: 0;
  overflow: hidden;
  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0;
    padding-right: 16px;
  }
}

.more-button {
  position: absolute;
  top: 4px;
  right: 4px;
}
