<div class="wrapper">
  <mat-card class="card"
            *ngIf="(file$ | async) as file; else newAttachment">
    <mat-card-content class="mat-card-content">
      <p [matTooltip]="file.title">{{file.title}}</p>
      <mat-menu #menu="matMenu"
                xPosition="before">
        <button mat-menu-item
                (click)="openFilePicker()">
          <mat-icon>refresh</mat-icon>
          <span>Replace</span>
        </button>
        <button mat-menu-item
                (click)="removeAttachment()">
          <mat-icon>delete</mat-icon>
          <span>Remove</span>
        </button>
      </mat-menu>
      <button mat-icon-button
              class="more-button"
              [matMenuTriggerFor]="menu"
              aria-label="Toggle menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-card-content>
    <div mat-card-file
         *ngIf="(getDownloadUrl(file) | async) as imageUrl"
         class="img-wrapper">
      <img [src]="imageUrl"
           [alt]="file.title"/>
    </div>
  </mat-card>
  <ng-template #newAttachment>
    <button mat-stroked-button
            (click)="openFilePicker()">
      <mat-icon aria-label="Add new file attachment">collections</mat-icon>
    </button>
  </ng-template>
</div>
