<mat-form-field class="filter">
  <mat-select [(value)]="filterSelected" (selectionChange)="filterNotifications($event)">
    <mat-option value="all">All</mat-option>
    <mat-option value="unread">Unread</mat-option>
  </mat-select>
</mat-form-field>
<div class="wrap">
    <mat-card class="notification-card"
              *ngFor="let notification of notifications$ | async"
              (click)="readNotification(notification)">
      <mat-card-content>
        <p class="title" [ngClass]="{'title-bold':!notification.isRead}">{{ notification.title }} <mat-icon (click)="delete($event, notification.id)" class="title-icon">delete</mat-icon></p>
        <div (click)="$event.stopPropagation()" [innerHtml]="notification.message"></div>
      </mat-card-content>
      <mat-card-actions>
        <div class="alert">
          <small class="alertType">
            <mat-icon class="icon" [color]="setColor(notification.type)">{{setIcon(notification.type)}}</mat-icon> {{setAlertText(notification.type)}}
          </small>
          <small class="date">{{ notification.updated?.toDate() | date:'medium' }}</small>
        </div>
      </mat-card-actions>
    </mat-card>
</div>
