<form [formGroup]="documentForm"
      novalidate>
  <tanam-context-actions>
    <tanam-action-button buttonType='delete'
                         (click)='deleteEntry()'></tanam-action-button>
    <tanam-action-button buttonType='save'
                         (click)='saveEntry()'></tanam-action-button>
  </tanam-context-actions>

  <div class="wrap">
    <div class="edit-content">
      <mat-card class="">
        <mat-card-content>
          <div formGroupName="dataForm">
            <div class="row"
                 *ngFor="let field of (documentType$ | async)?.fields">
              <div class="col"
                   [ngSwitch]="field.type">


                <!-- If input type is just simple line of text -->
                <mat-form-field *ngSwitchCase="'input-text'"
                                class="full-width">
                  <input matInput
                         (input)="onTitleChange($event.target.value, field.isTitle)"
                         placeholder="{{field.title}}"
                         formControlName="{{field.key}}">
                  <mat-error *ngIf="dataForm.controls[field.key].hasError('required')">
                    {{ field.title }} is <strong>required</strong>
                  </mat-error>
                </mat-form-field>


                <!-- If input type is larger amount of text: paragraph -->
                <mat-form-field *ngSwitchCase="'textbox-plain'"
                                class="full-width">
                  <textarea matInput
                            placeholder="{{field.title}}"
                            formControlName="{{field.key}}"></textarea>
                </mat-form-field>

                <mat-form-field *ngSwitchCase="'textbox-rich'"
                                class="full-width">
                  <tanam-textbox-rich matInput
                                      placeholder="{{field.title}}"
                                      [editorConfig]="richTextEditorConfig"
                                      formControlName="{{field.key}}"></tanam-textbox-rich>
                </mat-form-field>

                <!-- Use radio button selection -->
                <mat-form-field *ngSwitchCase="'radio-buttons'"
                                class="full-width">
                  <mat-radio-group formControlName="{{field.key}}"
                                   class="full-width">
                    <mat-radio-button *ngFor="let opt of field.options"
                                      value="{{option.key}}">{{option.value}}</mat-radio-button>
                  </mat-radio-group>
                </mat-form-field>

                <!-- Date Picker -->
                <mat-form-field *ngSwitchCase="'date'">
                  <mat-placeholder>{{field.title}}</mat-placeholder>
                  <mat-datetimepicker-toggle [for]="datePicker" matSuffix></mat-datetimepicker-toggle>
                  <mat-datetimepicker #datePicker type="date" openOnFocus="true"></mat-datetimepicker>
                  <input matInput formControlName="{{field.key}}" [matDatetimepicker]="datePicker" autocomplete="false">
                </mat-form-field>


                <!-- Time Picker -->
                <mat-form-field *ngSwitchCase="'time'">
                  <mat-placeholder>{{field.title}}</mat-placeholder>
                  <mat-datetimepicker-toggle [for]="timePicker" matSuffix></mat-datetimepicker-toggle>
                  <mat-datetimepicker #timePicker type="time" openOnFocus="true"></mat-datetimepicker>
                  <input matInput formControlName="{{field.key}}" [matDatetimepicker]="timePicker" autocomplete="false">
                </mat-form-field>

                <!-- Date Time Picker -->
                <mat-form-field *ngSwitchCase="'date-time'">
                  <mat-placeholder>{{field.title}}</mat-placeholder>
                  <mat-datetimepicker-toggle [for]="dateTimePicker" matSuffix></mat-datetimepicker-toggle>
                  <mat-datetimepicker #dateTimePicker type="datetime" openOnFocus="true"></mat-datetimepicker>
                  <input matInput formControlName="{{field.key}}" [matDatetimepicker]="dateTimePicker" autocomplete="false">
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="edit-metadata"
         [ngClass]="{'open-dialog': metaDataDialog}">
      <mat-card>
        <mat-card-content>
          <mat-form-field class="full-width">
            <input matInput
                   placeholder="Slug"
                   formControlName="url">
            <mat-hint>https://{{ domain$ | async }}/{{ document.url }}</mat-hint>
            <mat-error *ngIf="documentForm.controls['url'].hasError('required')">
              URL slug is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-select formControlName="status"
                        placeholder="Status">
              <mat-option *ngFor="let statusOption of statusOptions"
                          value="{{statusOption.value}}">{{statusOption.title}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput
                   placeholder="Publish Date"
                   value="{{ publishedTime | date:'yyyy-MM-dd' }}"
                   disabled>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput
                   placeholder="Revision"
                   value="{{ document.revision }}"
                   disabled>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput
                   placeholder="Created"
                   value="{{ createdTime | date:'yyyy-MM-dd' }}"
                   disabled>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput
                   placeholder="Updated"
                   value="{{ updatedTime | date:'yyyy-MM-dd' }}"
                   disabled>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</form>

<div *ngIf="!metaDataDialog"
     class="btn-open-dialog"
     (click)="showDialog()">
  <mat-icon>settings</mat-icon>
</div>
