<h1>{{(contentType$ | async)?.title}}</h1>
<h2>Here is some interesting info about the type</h2>
<ul>
  <li>Content type slug: {{(contentType$ | async)?.slug || 0 }}</li>
  <li>Number of total entries: {{(contentType$ | async)?.numEntries.total || 0 }}</li>
  <li>Number of published entries: {{(contentType$ | async)?.numEntries.published || 0 }}</li>
  <li>Number of unpublished entries: {{(contentType$ | async)?.numEntries.unpublished || 0}}</li>
  <li>Number of drafts: {{(contentType$ | async)?.numEntries.draft || 0 }}</li>
</ul>
<button mat-raised-button color="primary" (click)="navigateToContentTypeDetails()">Edit content type</button>
<button mat-raised-button color="primary" (click)="createNewEntry()">Create new {{(contentType$ | async)?.title}}</button>
<hr />
<h1>Here are all your entries</h1>
<app-content-entry-list [contentTypeId]="contentTypeId"></app-content-entry-list>
