.wrapper {
  padding-bottom: 8px;
}

.page-title {
  font-weight: 600;
  margin: 8px 0;
  text-transform: capitalize;
}

.description {
  max-width: 550px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.6;
  margin: 8px 0;
}
