// Available theme colors
// https://github.com/angular/material2/blob/master/src/lib/core/theming/_palette.scss

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~@angular/material/theming';
@import '~@mat-datetimepicker/core/datetimepicker/datetimepicker-theme.scss';

@include mat-core();

$tanam-brand-color: mat-palette($mat-green);

$tanam-admin-primary: mat-palette($mat-green, 600);
$tanam-admin-accent:  mat-palette($mat-brown, A200, A100, A400);
$tanam-admin-warn:    mat-palette($mat-deep-orange);
$tanam-admin-theme:   mat-light-theme($tanam-admin-primary, $tanam-admin-accent, $tanam-admin-warn);

@include angular-material-theme($tanam-admin-theme);

$tanam-admin-dark-primary: mat-palette($mat-green, 600);
$tanam-admin-dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$tanam-admin-dark-warn:    mat-palette($mat-deep-orange);
$tanam-admin-dark-theme:   mat-dark-theme($tanam-admin-dark-primary, $tanam-admin-dark-accent, $tanam-admin-dark-warn);

.tanam-dark-theme {
  @include mat-datetimepicker-theme($tanam-admin-dark-theme);
  @include angular-material-theme($tanam-admin-dark-theme);
}

.tanam-light-theme {
  @include mat-datetimepicker-theme($tanam-admin-theme);
  @include angular-material-theme($tanam-admin-theme);
}

.tanam-splash {
  background-color: mat-color($tanam-brand-color);
}

body, html {
  height: 100%;
}

body {
  margin: 0;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 56px !important;
}
.mat-toolbar-multiple-rows {
  min-height: 56px !important;
}

.container {
  padding: 0 16px;
}

.spacer {
  flex: 1 1 auto;
}

.primary-color {
  color: mat-color($tanam-admin-primary) !important;
}

.primary-background {
  background-color: mat-color($tanam-admin-primary) !important;
}

.table-border-radius {
  border-radius: 8px;
  overflow: hidden;
}
