<h1 mat-dialog-title>Add User</h1>
<div mat-dialog-content>
  <form [formGroup]="addUserForm"
        novalidate>
    <mat-form-field class="full-width">
      <input matInput
             placeholder="Email"
             formControlName="email">
      <mat-error *ngIf="addUserForm.controls['email'].hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="addUserForm.controls['email'].hasError('email')">
        Email is not<strong>valid</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Role</mat-label>
      <mat-select value="admin">
        <mat-option value="admin">Admin</mat-option>
        <mat-option value="superAdmin">Super Admin</mat-option>
        <mat-option value="publisher">Publisher</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button
          color="primary"
          disabled={{!addUserForm.valid}}
          (click)="addUser()">Send Invitation</button>
</div>
