<ng-container *ngIf="infinite | async as docs">

  <mat-card>
    <cdk-virtual-scroll-viewport itemSize="70"
                                 (scrolledIndexChange)="nextBatch($event, (docs[docs.length - 1].id))">
      <mat-nav-list>
        <mat-list-item *cdkVirtualFor="let doc of docs; let i = index; trackBy: trackByIdx"
                       (click)="editTheme(doc.id)">
          <mat-icon class="icon"
                    mat-list-icon>style</mat-icon>
          <h4 mat-line>{{doc.title}}</h4>
          <p mat-line>{{doc.description}}</p>
          <small style="width: 30%">{{doc.updated?.toDate() | date:'medium'}}</small>
          <mat-divider></mat-divider>
        </mat-list-item>
        <mat-progress-bar *ngIf="!theEnd"
                          mode="indeterminate"></mat-progress-bar>
      </mat-nav-list>
    </cdk-virtual-scroll-viewport>
  </mat-card>

</ng-container>
