<ng-container>
  <mat-card>
    <mat-nav-list>
      <virtual-scroller #scroll
                        [items]="items"
                        (vsEnd)="fetchMore($event)"
                        [enableUnequalChildrenSizes]="true">
        <mat-list-item *ngFor="let item of scroll.viewPortItems"
                       (click)="editTheme(item.id)">
          <mat-icon color="primary"
                    mat-list-icon>style</mat-icon>
          <h4 mat-line>{{item.title}}</h4>
          <p mat-line>{{item.description}}</p>
          <small class="updated">Updated: <br /> {{item.updated?.toDate() | date:'medium'}}</small>
          <mat-divider></mat-divider>
        </mat-list-item>
      </virtual-scroller>
    </mat-nav-list>
    <mat-progress-bar *ngIf="isLoading"
                      mode="indeterminate"></mat-progress-bar>
  </mat-card>
</ng-container>
