<ng-container *ngIf="themeDocs | async as themes">

  <mat-card>
    <cdk-virtual-scroll-viewport itemSize="70"
                                 (scrolledIndexChange)="nextBatch(themes[themes.length - 1].id)">
      <mat-nav-list>
        <mat-list-item *cdkVirtualFor="let theme of themes; let i = index; trackBy: trackByIdx"
                       (click)="editTheme(theme.id)">
          <mat-icon color="primary"
                    mat-list-icon>style</mat-icon>
          <h4 mat-line>{{theme.title}}</h4>
          <p mat-line>{{theme.description}}</p>
          <small class="updated">Updated: <br /> {{theme.updated?.toDate() | date:'medium'}}</small>
          <mat-divider></mat-divider>
        </mat-list-item>
        <mat-progress-bar *ngIf="!theEnd"
                          mode="indeterminate"></mat-progress-bar>
      </mat-nav-list>
    </cdk-virtual-scroll-viewport>
  </mat-card>

</ng-container>
