.icon {
  color: #43a047;
}

cdk-virtual-scroll-viewport {
  height: 50vh;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
  }
}
