<div *ngIf="(documentType$ |async) as documentType">
  <mat-card>
    <mat-card-title-group>
      <mat-card-title>
        {{ documentType.title }}
        <button mat-flat-button
                color="accent"
                (click)="createNewEntry(documentType)">+ Add New</button>
      </mat-card-title>
      <mat-card-subtitle>
        https://{{ domain$ | async }}/{{ documentType.slug }}
      </mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      <p *ngIf="documentType.description">{{ documentType.description }}</p>
    </mat-card-content>
  </mat-card>

  <mat-tab-group>
    <mat-tab label="All [{{ documentType.numEntries.published + documentType.numEntries.unpublished }}]">
      <ng-template matTabContent>
        <app-content-entry-list [documentType$]="documentType$"></app-content-entry-list>
      </ng-template>
    </mat-tab>
    <mat-tab label="Published [{{ documentType.numEntries.published || 0 }}]">
      <ng-template matTabContent>
        <app-content-entry-list [documentType$]="documentType$"></app-content-entry-list>
      </ng-template>
    </mat-tab>
    <mat-tab label="Unpublished [{{ documentType.numEntries.unpublished || 0}}]">
      <ng-template matTabContent>
        <app-content-entry-list [documentType$]="documentType$"></app-content-entry-list>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
