<div *ngIf="(contentType$ |async) as contentType">
  <mat-card>
    <mat-card-title-group>
      <mat-card-title>
        {{ contentType.title }}
        <button mat-flat-button
                color="accent"
                (click)="createNewEntry(contentType)">+ Add New</button>
      </mat-card-title>
      <mat-card-subtitle>
        https://{{ domain$ | async }}/{{ contentType.slug }}
      </mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      <p *ngIf="contentType.description">{{ contentType.description }}</p>
    </mat-card-content>
  </mat-card>

  <mat-tab-group>
    <mat-tab label="All [{{ contentType.numEntries.published + contentType.numEntries.unpublished }}]">
      <ng-template matTabContent>
        <app-content-entry-list [contentType$]="contentType$"></app-content-entry-list>
      </ng-template>
    </mat-tab>
    <mat-tab label="Published [{{ contentType.numEntries.published || 0 }}]">
      <ng-template matTabContent>
        <app-content-entry-list [contentType$]="contentType$"></app-content-entry-list>
      </ng-template>
    </mat-tab>
    <mat-tab label="Unpublished [{{ contentType.numEntries.unpublished || 0}}]">
      <ng-template matTabContent>
        <app-content-entry-list [contentType$]="contentType$"></app-content-entry-list>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
