<app-sub-toolbar>
  <span>Settings</span>
</app-sub-toolbar>

<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Site information
      </mat-panel-title>
      <mat-panel-description>
        Configure your site information
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-site-form></app-site-form>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Domain settings
      </mat-panel-title>
      <mat-panel-description>
        Configure the URL settings and domain name.
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-domain-form></app-domain-form>
  </mat-expansion-panel>
</mat-accordion>
