<form [formGroup]="templateForm"
      novalidate
      (ngSubmit)="onSave()">
  <app-sub-toolbar>
    Themes
    <mat-icon class="icon-sub-toolbar">
      keyboard_arrow_right
    </mat-icon>
    <span (click)="backToTheme()" style="cursor:pointer">{{ theme }}</span>
    <mat-icon class="icon-sub-toolbar">keyboard_arrow_right</mat-icon>
    {{ template?.title }}
    <span class="sub-toolbar-spacer"></span>
    <button mat-button
            type="submit"
            color="primary">
      <mat-icon>save</mat-icon>
      Save
    </button>
    <button mat-button
            color="warn">
      <mat-icon>delete</mat-icon>
      Delete
    </button>
  </app-sub-toolbar>
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>{{ template?.title }} template definition</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput
                   placeholder="Title"
                   formControlName="title">
            <mat-error *ngIf="templateForm.controls['title'].hasError('required')">
              Title is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput
                   placeholder="Selector"
                   formControlName="selector">
            <mat-error *ngIf="templateForm.controls['selector'].hasError('required')">
              Selector is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-tab-group>
            <mat-tab label="HTML">
              <mat-form-field class="full-width">
                <textarea matInput
                          cdkTextareaAutosize
                          #autosize="cdkTextareaAutosize"
                          cdkAutosizeMinRows="15"
                          cdkAutosizeMaxRows="40"
                          formControlName="templateHtml"></textarea>
                <mat-error *ngIf="templateForm.controls['templateHtml'].hasError('required')">
                  HTML template code is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </mat-tab>
            <mat-tab label="CSS">
              <mat-form-field class="full-width">
                <textarea matInput
                          cdkTextareaAutosize
                          #autosize="cdkTextareaAutosize"
                          cdkAutosizeMinRows="15"
                          cdkAutosizeMaxRows="40"
                          formControlName="templateStyle"></textarea>
              </mat-form-field>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>
