<form [formGroup]="templateForm"
      novalidate
      (ngSubmit)="onSave()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>{{ template?.title }} template definition</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput
                   placeholder="Title"
                   formControlName="title">
            <mat-error *ngIf="templateForm.controls['title'].hasError('required')">
              Title is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput
                   placeholder="Selector"
                   formControlName="selector">
            <mat-error *ngIf="templateForm.controls['selector'].hasError('required')">
              Selector is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-tab-group>
            <mat-tab label="HTML">
              <mat-form-field class="full-width">
                <textarea matInput
                          cdkTextareaAutosize
                          #autosize="cdkTextareaAutosize"
                          cdkAutosizeMinRows="15"
                          cdkAutosizeMaxRows="40"
                          formControlName="templateHtml"></textarea>
                <mat-error *ngIf="templateForm.controls['templateHtml'].hasError('required')">
                  HTML template code is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </mat-tab>
            <mat-tab label="CSS">
              <mat-form-field class="full-width">
                <textarea matInput
                          cdkTextareaAutosize
                          #autosize="cdkTextareaAutosize"
                          cdkAutosizeMinRows="15"
                          cdkAutosizeMaxRows="40"
                          formControlName="templateStyle"></textarea>
              </mat-form-field>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button
              color="primary"
              type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
