<form [formGroup]="templateForm"
      novalidate
      (ngSubmit)="saveTemplate()">
  <tanam-context-actions>
    <tanam-action-button buttonType='cancel'
                         (click)='cancelEdit()'></tanam-action-button>
    <tanam-action-button buttonType='delete'
                          (click)='deleteTemplate()'></tanam-action-button>
    <tanam-action-button buttonType='save'
                         (click)='saveTemplate()'></tanam-action-button>
  </tanam-context-actions>
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>{{ template?.title }} template definition</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput
                   placeholder="Title"
                   formControlName="title">
            <mat-error *ngIf="templateForm.controls['title'].hasError('required')">
              Title is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput
                   placeholder="Selector"
                   formControlName="selector">
            <mat-error *ngIf="templateForm.controls['selector'].hasError('required')">
              Selector is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>HTML Template Code</mat-label>
            <textarea matInput
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="10"
                      cdkAutosizeMaxRows="30"
                      formControlName="templateHtml"></textarea>
            <mat-error *ngIf="templateForm.controls['templateHtml'].hasError('required')">
              HTML template code is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>
