<tanam-page-title pageTitle="Content Types"></tanam-page-title>
<mat-card class="create-document-type-card">
  <mat-card-header>
    <mat-card-title>
      About
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Content types are defining the type of posts that you can make on your site. The predefined types are
      <a routerLink="/_/admin/types/page">page</a> and
      <a routerLink="/_/admin/types/blog">blog</a> which are the most common types.
    </p>
    <p>
      You can create and define your own types for different type of content such as "events" etc.
      The "slug" part of the type will be prefixing your post in the url so that all related posts
      are grouped together.
    </p>
    <form [formGroup]="createTypeForm"
          novalidate
          (ngSubmit)="createNewType()">
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput
                   placeholder="Content type name"
                   formControlName="title">
            <mat-error *ngIf="createTypeForm.controls['title'].hasError('required')">
              Name of the content type is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <button mat-raised-button
                  color="primary"
                  type="submit"
                  [disabled]="createTypeForm.pristine">+ Create new</button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<tanam-document-type-list></tanam-document-type-list>
