<div *ngIf="(theme$ | async) as theme">
  <tanam-breadcrumbs>
    <tanam-breadcrumb routerLink="/_/admin/themes">Themes</tanam-breadcrumb>
  </tanam-breadcrumbs>

  <tanam-context-actions>
    <tanam-action-button buttonType='edit'
                         title="Edit theme"
                         (click)='editTheme(theme)'></tanam-action-button>
    <tanam-action-button buttonType='create'
                         (click)='createNewTemplateDialog(theme)'></tanam-action-button>
  </tanam-context-actions>

  <div>
    <tanam-page-title pageTitle="{{ theme.title }} theme overview"></tanam-page-title>
    <mat-card class="card">
      <mat-card-title-group>
        <mat-card-title>
        </mat-card-title>
      </mat-card-title-group>
      <mat-card-content>
        <p *ngIf="theme.description">{{ theme.description }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<tanam-theme-template-list [theme$]="theme$"></tanam-theme-template-list>
