<div class="title-table">
  <h3 class="mat-h3">File Assets</h3>
  <button mat-stroked-button
          (click)="fileInput.click()">
    <mat-icon>file_upload</mat-icon>
    Upload File
  </button>
  <input #fileInput
         type="file"
         (change)="uploadSingleFile($event)"
         style="display:none;" />
</div>
<section *ngFor="let uploadTasks of uploadTasks | keyvalue">
  <strong>{{uploadTasks.key}}</strong>
  <mat-progress-bar color="accent"
                    mode="determinate"
                    [value]="uploadTasks.value | async">
  </mat-progress-bar>
</section>

<div class="mat-elevation-z8"
     *ngIf="assets | async as docs">
  <mat-card class="card">
    <mat-card-content>
      <div class="header-wrapper">
        <h4 class="mat-body-2 flex-3">Title</h4>
        <h4 class="mat-body-2 flex-2">Size (bytes)</h4>
        <h4 class="mat-body-2 flex-2">Type</h4>
        <h4 class="mat-body-2 flex-2">Last Update</h4>
        <h4 class="mat-body-2 flex-1">Action</h4>
      </div>
      <cdk-virtual-scroll-viewport *ngIf="docs.length; else empty"
                                   itemSize="72"
                                   (scrolledIndexChange)="nextBatch(docs[docs.length - 1]?.id)">
        <ul>
          <li *cdkVirtualFor="let doc of docs; trackBy: trackByIdx;">
            <div class="main-content">
              <p class="mat-body-1 flex-3">{{doc.title}}</p>
              <p class="mat-body-1 flex-2">{{doc.bytes}}</p>
              <p class="mat-body-1 flex-2">{{doc.fileType}}</p>
              <p class="mat-body-1 flex-2">{{doc.updated?.toDate() | date:'medium'}}</p>
              <div class="actions flex-1">
                <button mat-icon-button>
                  <mat-icon aria-label="Detail File"
                            (click)="detailFile(doc)">info</mat-icon>
                </button>
                <button mat-icon-button>
                  <mat-icon aria-label="Delete file"
                            color="warn"
                            (click)="deleteFile(doc)">delete</mat-icon>
                </button>
              </div>
            </div>
            <mat-divider></mat-divider>
          </li>
          <mat-progress-bar *ngIf="!isLastDocument"
                            mode="indeterminate"></mat-progress-bar>
        </ul>
      </cdk-virtual-scroll-viewport>

      <ng-template #empty>
        <h2 class="mat-h2 empty">No Content</h2>
      </ng-template>
    </mat-card-content>
  </mat-card>
</div>
