table {
  width: 100%;
}

.relative {
  position: relative;
}

.actions-wrapper {
  display: flex;
  justify-content: flex-end;
}

.fileupload-name {
  position: absolute;
  top: 16px;
  left: 24px;
}

.action-column {
  text-align: right;
}
