<button type="button"
        aria-label="User Option"
        mat-icon-button
        class="btn-wrapper">
  <div *ngIf="currentUser$ | async as user"
       class="img-wrapper">
    <img [src]="user.photoUrl"
         alt="User"
         [matMenuTriggerFor]="userOption"
         [matMenuTriggerData]="{user: user}">
  </div>
</button>

<mat-menu #userOption="matMenu"
          class="mat-menu-user-on-nav">
  <ng-template matMenuContent
               let-user="user">
    <mat-card class="mat-elevation-z0">
      <div class="menu-content">
        <img *ngIf="user.photoUrl"
             [src]="user.photoUrl"
             alt="User"
             class="avatar">
        <div class="main-content">
          <h5 class="mat-body-strong">{{user.name}}</h5>
          <h5 class="mat-body">{{user.email}}</h5>
          <button type="button"
                  mat-flat-button
                  color="primary"
                  (click)="logout()">LOGOUT</button>
        </div>
      </div>
    </mat-card>
  </ng-template>
  <mat-toolbar class="theme-toolbar">
    <mat-slide-toggle (click)="toggleTheme($event)">{{theme}} theme</mat-slide-toggle>
  </mat-toolbar>
</mat-menu>
