<button type="button"
        aria-label="User Option"
        mat-icon-button
        class="btn-wrapper">
  <div class="img-wrapper">
    <img *ngIf="currentUser$ | async as user"
         src="{{user.photoUrl}}"
         alt="User"
         [matMenuTriggerFor]="userOption"
         [matMenuTriggerData]="{user: user}">
  </div>
</button>

<mat-menu #userOption="matMenu"
          class="mat-menu-user-on-nav">
  <ng-template matMenuContent
               let-user="user">
    <div class="menu-content">
      <img src="{{user.photoUrl}}"
           alt="User"
           class="avatar">
      <div class="main-content">
        <h5 class="mat-body-strong">{{user.name}}</h5>
        <h5 class="mat-body">{{user.email}}</h5>
        <button type="button"
                mat-flat-button
                color="primary"
                (click)="logout()">LOGOUT</button>
      </div>
    </div>
  </ng-template>
  <mat-toolbar class="theme-toolbar">
    <mat-slide-toggle (click)="toggleTheme($event)">{{theme}} theme</mat-slide-toggle>
  </mat-toolbar>
</mat-menu>
