.btn-wrapper {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  .img-wrapper {
    display: flex;
    img {
      max-width: 100%;
      width: 32px;
      height: 32px;
      border-radius: 100%;
    }
  }
}

.theme-toolbar {
  margin-bottom: -8px;
}

::ng-deep .mat-menu-panel.mat-menu-user-on-nav {
  max-width: 350px !important;
}
.menu-content {
  display: flex;
  align-items: flex-start;
  padding: 12px 20px;
  .avatar {
    max-width: 96px;
    width: 100%;
    border-radius: 100%;
    margin-right: 20px;
  }
  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    h5 {
      margin: -4px 0 1px 0;
    }
    button {
      margin: 20px 0px;
    }
  }
}
