<form [formGroup]="settingsForm"
      novalidate
      (ngSubmit)="saveSettings()">
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width">
        <input matInput
               placeholder="Title"
               formControlName="title">
        <mat-error *ngIf="settingsForm.controls['title'].hasError('required')">
          Title is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width">
        <mat-select formControlName="theme"
                    placeholder="Theme">
          <mat-option *ngFor="let theme of themes$ | async"
                      value="{{theme.id}}">{{theme.title}}</mat-option>
        </mat-select>
        <mat-error *ngIf="settingsForm.controls['theme'].hasError('required')">
          Theme is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <button mat-raised-button
          color="primary"
          type="submit">Save</button>
</form>
