<tanam-page-title pageTitle="Media files"></tanam-page-title>
<tanam-context-actions>
  <tanam-action-button buttonType="upload"
                       (click)="fileInput.click()">
    <!--
    Angular Material doesn't support file input.
    https://material.angular.io/components/input/overview#supported-code-lt-input-gt-code-types

    So this is a wrapper to make it look better. The button simply triggers the file upload input
    -->
    <input #fileInput
           type="file"
           (change)="uploadSingleFile($event)"
           style="display:none;" />
  </tanam-action-button>
</tanam-context-actions>

<!-- Show the progress of file uploads if there are any. Then hide itself when all are finished -->
<mat-card class="upload-card"
          *ngIf="(uploadTasks | json) != '{}'">
  <mat-card-header>
    <mat-card-title>
      Uploads
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <section *ngFor="let uploadTasks of uploadTasks | keyvalue">
      <strong>{{uploadTasks.key}}</strong>
      <mat-progress-bar [color]="accent"
                        [mode]="determinate"
                        [value]="uploadTasks.value | async">
      </mat-progress-bar>
    </section>
  </mat-card-content>
</mat-card>

<mat-tab-group>
  <mat-tab label="Images">
    <tanam-media-grid></tanam-media-grid>
  </mat-tab>
</mat-tab-group>
