<mat-card>
  <mat-list dense>
    <virtual-scroller #scroll
                      [items]="items"
                      (vsEnd)="fetchMore($event)"
                      [enableUnequalChildrenSizes]="true">
      <mat-list-item *ngFor="let item of scroll.viewPortItems">
        <mat-icon matListIcon>account_circle</mat-icon>
        <h4 mat-line><b>{{item.email}}</b></h4>
        <p mat-line>Invited on {{item.updated?.toDate() | date:'medium'}}</p>
        <tanam-user-role-selector [id]="item.id"
                                  [roles]="item.roles"
                                  collection="user-invites">
        </tanam-user-role-selector>
        <button mat-icon-button
                [matMenuTriggerFor]="menu"
                class="btn-menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu"
                  xPosition="before">
          <button mat-menu-item
                  (click)="resendUserInvitation(item)">
            <mat-icon>autorenew</mat-icon>
            <span>Resend Invitation</span>
          </button>
          <button mat-menu-item
                  (click)="deleteInvitedUser(item)">
            <mat-icon color="warn">delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
        <mat-divider></mat-divider>
      </mat-list-item>
    </virtual-scroller>
  </mat-list>
</mat-card>
