<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/admin/dashboard" routerLinkActive="active">
        <mat-icon mat-list-icon>dashboard</mat-icon>
        Dashboard
      </a>

      <h3 mat-subheader>Content</h3>

      <a mat-list-item *ngFor="let contentType of contentTypes$ | async" routerLink="/admin/content/type/{{ contentType.id }}">
        <mat-icon mat-list-icon>{{ contentType.icon }}</mat-icon>
        {{ contentType.title }}
      </a>

      <h3 mat-subheader>Manage</h3>

      <a mat-list-item routerLink="/admin/content/types" routerLinkActive="active">
        <mat-icon mat-list-icon>list</mat-icon>
        Content types
      </a>

      <a mat-list-item routerLink="/admin/settings" routerLinkActive="active">
        <mat-icon mat-list-icon>settings</mat-icon>
        Settings
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>tanam</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
