.sidenav-container {
  height: 100%;
}

:host ::ng-deep .sidenav-container .mat-drawer-inner-container {
  overflow: hidden;
}

:host ::ng-deep .sidenav-container .mat-list-base {
  padding: 0;
  height: calc(100% - (64px * 2));
  overflow: auto;
}

.expanded-nav {
  width: 200px;
}
.expanded-nav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 2;
}

.expand-toolbar {
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.admin-container {
  margin: 4%;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.togglerMiniNav {
  cursor: pointer;
}
