.sidenav-container {
  height: 100%;
}

.main-drawer.mat-drawer-side {
  border-right: none;
}

:host ::ng-deep .sidenav-container .mat-drawer-inner-container {
  overflow: hidden;
}

:host ::ng-deep .sidenav-container .mat-list-base {
  padding: 0;
  height: calc(100% - (56px * 2));
  overflow: auto;
  @media only screen and (max-width: 600px) {
    height: calc(100% - (56px * 2));
  }
}

/* width */
:host ::ng-deep .sidenav-container .mat-list-base::-webkit-scrollbar {
  width: 5px;
}

/* Track */
:host ::ng-deep .sidenav-container .mat-list-base::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
:host ::ng-deep .sidenav-container .mat-list-base::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.36);
  border-radius: 8px;
}

/* Handle on hover */
:host ::ng-deep .sidenav-container .mat-list-base::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.5);
}

.expanded-nav {
  min-width: 250px;
}

.header-side-nav {
  .logo {
    padding: 0 4px;
  }
  .text-padding {
    padding-left: 10px;
  }
}

.header-side-nav , .mat-toolbar.mat-primary{
  position: sticky;
  top: 0;
  z-index: 3;
}

.list-item-group {
  margin-bottom: 20px;
}

.divider {
  border-top-color: rgba(0,0,0,0.15);
  margin-bottom: 20px;
}

.subheader {
  font-size: 15px !important;
  height: auto !important;
  line-height: auto !important;
}

.expand-toolbar {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  bottom: 0;
  z-index: 2;
}

.admin-container {
  margin: 4%;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.togglerMiniNav {
  cursor: pointer;
}

.sub-toolbar {
  position: sticky;
  top: 56px;
  z-index: 2;
}

.sub-toolbar-spacer {
  flex: 1 1 auto;
}

.notifications {
  width: 400px;
}

.view-web-link {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  span {
    margin-left: 8px;
  }
  &:hover {
    color: rgba(255,255,255,0.8);
  }
}

.header-action-wrapper {
  position: sticky;
  z-index: 3;
  top: 56px;
}

#breadcrumbs {
  display: flex;
  align-items: center;
}
