<h1>The form</h1>
<form [formGroup]="entryForm">
  <mat-form-field>
    <input matInput placeholder="Slug" formControlName="slug">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Status" formControlName="status">
  </mat-form-field>
  <br />
  <div *ngIf="isFormFieldDataLoaded; else loading">

    <div formGroupName="data">
      <div *ngFor="let field of contentType.fields">
        <h4>{{ field.title }}</h4>
        <div [ngSwitch]="field.type">
          <mat-form-field *ngSwitchCase="'text-line'">
            <input matInput placeholder="{{field.title}}" formControlName="{{field.key}}">
          </mat-form-field>

          <mat-form-field *ngSwitchCase="'text-area'">
            <input matInput placeholder="{{field.title}}" formControlName="{{field.key}}">
          </mat-form-field>

          <div *ngSwitchDefault>
            <div *ngIf="isDevelopment">
              <h3>Unsupported field type</h3>
              <pre>{{ field | json }}</pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #loading>
    Loading form fields...
  </ng-template>

  <br />
  <button mat-raised-button color="warning" (click)="cancelEditing()">Cancel</button>
  <button mat-raised-button color="primary" (click)="saveEntry()" [disabled]="entryForm.pristine">Save</button>
</form>
<div class='some-expandable-area' *ngIf="isDevelopment">
  <h3>Content Type</h3>
  <pre>
    {{ contentType | json }}
  </pre>

  <h3>Entry</h3>
  <pre>
    {{ entry | json }}
  </pre>
</div>
