<div class="wrap">
  <h4>{{title}}</h4>
  <form [formGroup]="authorForm"
        novalidate>
    <mat-form-field class="full-width">
      <input matInput
             placeholder="Name"
             formControlName="name">
      <mat-error *ngIf="authorForm.controls['name'].hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput
             placeholder="Profile Url"
             formControlName="profileUrl">
      <mat-error *ngIf="authorForm.controls['profileUrl'].invalid">
        Please enter a valid URL
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput
             placeholder="email"
             formControlName="email">
      <mat-error *ngIf="authorForm.controls['email'].hasError('email')">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>
  </form>
</div>
