.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: space-around;
}

.card {
  // flex: 0 1 15%;
  width: 200px;
  margin: 5px;
}

.mat-card-image {
  width: 232px;
  height: 200px;
  object-fit: cover;
  margin: 15px -16px 0px -16px;
}
