<div class="flex">
  <mat-card class="card"
            *ngFor="let file of files$ | async">
    <mat-card-title>
      <button mat-icon-button
              class="more-button"
              [matMenuTriggerFor]="menu"
              aria-label="Toggle menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu"
                xPosition="before">
        <button mat-menu-item>Expand</button>
        <button mat-menu-item>Remove</button>
      </mat-menu>
    </mat-card-title>
    <img mat-card-image
         [src]="file.url"
         alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>{{file.title}}</p>
    </mat-card-content>
  </mat-card>
</div>
