<div [ngSwitch]="data.type">
  <div class="dialog-title">
    <h1 mat-dialog-title>{{data.title}}</h1>
    <mat-icon color="{{data.color}}">{{data.icon}}</mat-icon>
  </div>

  <div *ngSwitchCase="'confirmation'">
    <div mat-dialog-content>
      <p class="mat-body"
         [innerHTML]="data.message"></p>
    </div>
  </div>

  <div *ngSwitchCase="'detail-file'">
    <div mat-dialog-content>
      <div class="mat-caption">Name</div>
      <div class="mat-body">{{data.name}}</div>
      <div class="mat-caption">Type</div>
      <div class="mat-body">{{data.fileType}}</div>
      <div class="mat-caption">Date Uploaded</div>
      <div class="mat-body">{{data.created.toDate() | date:'yyyy-MM-dd HH:mm'}}</div>
    </div>
  </div>

  <div mat-dialog-actions>
    <button mat-button
            *ngFor="let button of data.buttons"
            [(mat-dialog-close)]="button">{{button | uppercase}}</button>
  </div>
</div>
