<div class="mat-elevation-z8">
  <mat-card class="card">
    <mat-card-content>
      <ul>
        <virtual-scroller #scroll
                          [items]="items"
                          (vsEnd)="fetchMore($event)"
                          [enableUnequalChildrenSizes]="true">
          <li *ngFor="let doc of scroll.viewPortItems"
              (click)="editDocumentType(doc.id)">
            <div class="main-content">
              <div class="content-wrapper">
                <h4 class="mat-h2 document-title">{{doc.title}}</h4>
                <p class="mat-body-1">Last updated {{doc.updated?.toDate() | date:'medium'}}</p>
              </div>
            </div>
            <mat-divider></mat-divider>
          </li>
          <mat-progress-bar *ngIf="isLoading"
                            mode="indeterminate"></mat-progress-bar>
        </virtual-scroller>
      </ul>

      <ng-template #empty>
        <h2 class="mat-h2 empty">No Content Type</h2>
      </ng-template>
    </mat-card-content>
  </mat-card>
</div>
