<h1>{{ (contentType$ | async)?.title }}</h1>
<h2>Here is some interesting info about the type</h2>
<ul *ngIf="(contentType$ | async) as contentType">
  <li>Content type slug: {{ contentType.slug }}</li>
  <li>Number of total entries: {{ contentType.numEntries.published + contentType.numEntries.unpublished }}</li>
  <li>Number of published entries: {{ contentType.numEntries.published || 0 }}</li>
  <li>Number of unpublished entries: {{ contentType.numEntries.unpublished || 0}}</li>
</ul>
<button mat-raised-button color="primary" routerLink="/admin/content/type/{{ (contentType$ | async)?.id }}/edit">Edit content type</button>
<button mat-raised-button color="primary" (click)="createNewEntry()">Create new {{(contentType$ | async)?.title}}</button>
<hr />
<h1>Here are all your entries</h1>
<app-content-entry-list [contentTypeId]="(contentType$ | async)"></app-content-entry-list>
